@include font-face("Caudex-Bold", "../../fonts/Caudex-Bold");
@include font-face("Caudex-Regular", "../../fonts/Caudex-Regular");
@include font-face("EmojiOneColor", "../../fonts/EmojiOneColor");
@include font-face(
  "Quicksand-Variable",
  "../../fonts/Quicksand-VariableFont_wght"
);
