.btn-primary {
  border-radius: 40px !important;
  padding: 5px 40px !important;
  color: $primary-text-color !important;
  background-color: $secondary-color !important;
}

.btn-custom {
  border-radius: 40px !important;
  padding: 5px 40px !important;
  color: $primary-text-color !important;
  background-color: #fff !important;
}

.rating-slider {
  .flickity-prev-next-button {
    background: #b7a0cc !important;
    color: white !important;
    border-radius: 50% !important;
    width: 48px !important;
    opacity: 1 !important;
  }

  .flickity-prev-next-button.previous {
    left: -60px !important;
  }

  .flickity-prev-next-button.next {
    left: auto !important;
    right: -60px !important;
  }
}

.slider .flickity-prev-next-button:hover .arrow,
.slider .flickity-prev-next-button:hover svg {
  fill: rgba(255, 255, 255, 0.9) !important;
}
