@media (max-width: 549px) {
  .feature-porfolio-img,
  .feature-porfolio-title {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

// Testimonial text styling
.testimonial-text {
  font-style: normal !important;
  font-weight: 600 !important;

  &.italic,
  &.is-italic {
    font-style: normal !important;
  }
}

.star-rating span:before {
  color: black !important;
}
