.product-layout-wrapper {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.shop-page-title {
  display: none !important;
}

.button.checkout {
  background: $primary-color !important;
  border-color: $primary-color !important;
}
